<div class="container py-4">
    <h2 class="mb-4">Редагувати відео</h2>
  
    <form ng-submit="updateVideo()" class="mb-3">
      <div class="mb-3">
        <input type="text" class="form-control" ng-model="video.title" required placeholder="Назва відео">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" ng-model="video.genre" required placeholder="Жанр">
      </div>
      <div class="mb-3">
        <textarea class="form-control" ng-model="video.description" required placeholder="Опис"></textarea>
      </div>
      <button class="btn btn-primary">Оновити</button>
      <a class="btn btn-secondary ms-2" href="#/">Назад</a>
    </form>
  </div>
  